*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: aliceblue;
    background-color: #242424;
}


.img_div{
    display: flex;
    justify-content: center;
}

.img_div img{
    width: 150px;
    height: 150px;
    margin-left: 15px; 
}